{% load static %}
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Udemy Django Course">
    <meta name="description" content="">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <title>AutoStore</title>
</head>

<body>
    <h1> Welcome to {{name}}</h1>
</body>
<footer class="footer text-muted bg-dark py-5">
    <div class="container">
        <p class="float-end mb-1"> Powered by</p>
        <p class="mb-1"> AutoStore - Best Place to Classified Cars</p>
    </div>
    
</footer>

</html>